<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="assets/style.css">
</head>

<body>
	<main>
		<aside><img src="./assets/images/printer.jpeg" alt=""></aside>
		<div class="container">
			<h3 class="container_title">Options:</h3>
			<form class="container_form">
				<label>
					<input type="checkbox" name="autorecognize">
					Get text from clipboard image automaticaly
				</label>
				<label>
					<input type="checkbox" name="copy-text">
					Copy text to the clipboard automaticaly
				</label>
				<label class="result_field">
					<span>Result:</span>
					<textarea name="result" id="" rows="5"></textarea>
				</label>
			</form>
		</div>
	</main>
</body>

</html>