<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="assets/styles/style.css">
</head>

<body>
	<section class="top_container">
		<h1 class="top_container_title">Image Text Scanner</h1>
		<p>
			Conduct the recognition of text contained within images, converting visual content into editable and
			searchable text through text recognition algorithms.
		</p>
	</section>
	<div class="container">
		<main>
			<h2 class="main_title">Options</h2>
			<div class="content">
				<form class="content_form">
					<div>
						<label for="location" class="form_select_label">Text language</label>
						<select id="location" name="location" class="form_select_input">
							<option value="en">English</option>
							<option value="por">Portuguese</option>
							<option value="jp">Japanese</option>
						</select>
					</div>
					<div class="element_with-description">
						<div>
							<label for="clipboard" class="form_input">Only from clipboard</label>
							<input id="clipboard" type="checkbox" name="clipboard" checked>
						</div>
						<span>
							Use only the last copied images from the clipboard (typically when taking a screenshot
							or copying an image from a web page)
						</span>
					</div>
					<div class="element_with-description">
						<div>
							<label for="autocopy" class="form_input">Automatically copies</label>
							<input id="autocopy" type="checkbox" name="autocopy" checked>
						</div>
						<span>Automatically copies the recognized text to the clipboard</span>
					</div>
					<div class="actions">
						<button id="startRecognitionButton" type="button">Start</button>
					</div>
				</form>
			</div>
		</main>
		<section class="finalText">
			<h2 class="main_title">Results</h2>
			<div id="result" class="content">
			</div>
		</section>
	</div>
	<footer class="footer">
		<span>© 2023 <a href="https://hennanlewis.com">Hennan Lewis</a></span>
	</footer>
	<script src="assets/scripts/script.js" type="module"></script>
</body>

</html>